body {
    height: 100vh;
    
    background-color:  #87CBAC;
}

h1 {
    font-family: sans-serif;
    color: #7A7978;
    font-size: 500%;
    
    position: relative;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 20%;

}

h2 {
    font-family: sans-serif;
    color: #7A7978;
    font-size: 500%;

    position: static;
    padding-bottom: 5%a;
    
}

header {
    background-color:  #87CBAC;
}

.project {
    font-family: sans-serif;
    color: #7A7978;
    text-align: center;
}

nav {
    display: grid;
    grid-gap: 3px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);

    padding-left: 75%;
}

article {
    background-color: #8AC4FF;
    padding-bottom: 6.25%;
}

.view {
    display: grid;
    grid-gap: 3px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
}

.link {
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;

    display: none;
}

.github {
    background-image: url(images/cat-icon-github-github-pages-user-computer-share-icon-source-code-black-png-clipart.jpg);

}

.stack {
    background-image: url(images/index.jpg);

}

.linkedin {
    background-image: url(images/external-content.duckduckgo.com.png);
}

@media only screen and (min-width: 600px) {

}