body {
    height: 100vh;
    width: 100%;
    
    background-color:  #000000;
    margin: 0%;
    font-family: 'Major Mono Display', monospace;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    color: #ffffff;
    font-size: 500%;
    
    position: relative;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 5%;

}

h2 {
    font-family: 'Major Mono Display', monospace;

    font-size: 500%;

    position: static;
    padding-bottom: 5%a;
    
}

header {
    background-color:  #000000;
}

.project {
    font-family: sans-serif;
    text-align: center;
}

nav {
    display: grid;
    grid-gap: 3px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);

    padding-left: 75%;
}

article {
    background-color: #ffffff;
    margin: 10%;
}

.view {
    display: grid;
    grid-gap: 3px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
}

.link {
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;

    display: none;
}

.project {
    font-family: 'Major Mono Display', monospace;
    color: #000000;

    padding-top: 3%;
    padding-bottom: 3%;
}

a {
    text-decoration:none;
}

.github {
    background-image: url(images/cat-icon-github-github-pages-user-computer-share-icon-source-code-black-png-clipart.jpg);

}

.stack {
    background-image: url(images/index.jpg);

}

.linkedin {
    background-image: url(images/external-content.duckduckgo.com.png);
}

@media only screen and (min-width: 600px) {

}